
.navbar{
    min-height: 80px;
    background-color: darkblue;
}

.nav-link{
    font-size: large;
    margin-right: 100px;
    color: white;
}
.nav-logout{
    font-size: large;
    margin-left: 100%;
    color: white;

}

.fa {
    font-size: 12px;
}

.checked {
    color: orange;
}

.unchecked {
    color: orange;
}

.former-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #a6a6a6;
    float: left;
}

.current-price {
    float: right;
    color: #d71920;
    font-size: 18px;
}

.rates {
    height: 14px;
    font-size: 10px;
    line-height: 16px;
    vertical-align: top;
    color: #4a4a4a;
    float: left;
}

.card {
    width: 300px;
    height: 375px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.brand-product-ul {
    margin: 0 auto;
    text-align: center;
}

.product-list-item {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    padding: 2px;
}

.imgDiv {
    width: 200px;
    height: 200px;
    /* border: solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imgSrc {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    width: 250px;
}

.product-list-price {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.product-link {
    color: #0F1111;
}

.add-to-cart-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-shadow: none;
    /* font-weight: bold; */
    font-size: 14px;
    text-transform: none;
    height: 33px;
    line-height: 25px;
    text-align: center;
    left: 0;
    top: 0;
    background-color: #FFD814;
    /* box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%); */
    border-color: #FCD200;
    color: black;
    vertical-align: middle;
}

.add-to-cart-button:hover {
    background-color: #c7a600;
    border-color: #c7a600;
}
/*
.image-slider {
    width: 50px;
    height: 400px;
} */


.product-image-slider {
    margin: 100px;
    margin-top: auto;
    padding: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95%;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#all-product-items-div {
    /* margin-top: 300px; */
}

.continue-homepage, .continue-cart {
    width: 40%;
    /* display: inline; */
}

.continue-buttons {
    display: inline;
    /* height: 40px; */
}

/* .continue-homepage {
    float: left;
}

.continue-cart {
    float: right;
    margin-left: 45%;
} */

.sorting-products {
    margin-top: 300px;
    margin-left: 100px;
}

.logout-nav-item {
    float: right;
    margin-left: 70%;
}

.nav-options-pages {
    margin-left: 15px;
}
